body {
    margin: 20px;
    padding: 0;
    font-family: 'Anton', sans-serif;
}

.scene {
    font-family: 'Anton', sans-serif;
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 768px;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
}

.hippodrome {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: flex-start;
}

.road {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: burlywood;
}

.slime {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 100px;
    height: 40px;
    background: #a84909;
    border-radius: 50%;
}

.finishLine {
    position: absolute;
    right: 100px;
    width: 10px;
    height: 100%;
    background-color: darkblue;
}

.massage {
    position: absolute;
    right: 10px;
}

.currentDistance {
    position: absolute;
    bottom: 0px;
}

.currentPosition {
    position: absolute;
    right: 50px;
    font-size: 32px;
}