body {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}

.scene {
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 768px;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
}

.mainScene {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    order: 0;
    flex: 0 1 100%;
    align-self: auto;
}

.gameList {
    height: 570px;
    width: 100%;
    background-color: blue;
}

.mainButtons {
    order: 0;
    flex: 0 1 35%;
    align-self: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-between;
}

.btnBig {
    width: 200px;
    height: 60px;
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    /* margin: 30px; */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.btnSmall {
    width: auto;
    height: 34px;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    padding-left: 10px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: auto;
    height: 60px;
    background-color: bisque;
}

.xxxFont {
    /* margin: 50px; */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 112px;
    /* vertical-align: text-bottom; */
}

.xxFont {
    /* margin: 50px; */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 80px;
    /* vertical-align: text-bottom; */
}

.logotype {
    margin-top: 120px;
}